main, body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-dark-grey);
    color: var(--color-white);
}
:root{
    --color-white: white;
    --color-light-grey: #e6e6e6;
    --color-black: black;
    --color-dark-grey: #161616;
}

#sketch-grid{
    height: 500px;
    width: 500px;
    background-color: var(--color-black);
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}